h3 {
    margin-top: 3rem;
}

.update {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 0.8rem;
    display: block;
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.date {
    top: 0;
    right: 0;
    margin: 0;
    page-break-after: always;
    break-after: always;
}

.spacer {
    flex: 1;
}

.update-title {
    margin-top: 0;
}

.content {
    width: 100%;
}