.contact-email,
.contact-subject,
.contact-body {
    width: 100%;
    padding: 0.5rem;
}

.contact-email,
.contact-subject {
	max-width: 15rem;
}

.contact-body {
	min-height: 10rem;
	resize: vertical;
}

.confirmation-button {
	margin-top: 2rem;
}

.contact-us form {
	margin-top: 2rem;
}

.contact-us label {
	font-size: 1.25rem;
	font-weight: bold;
	display: block;
	margin: 1rem 0;
}