/* Homepage video banner
   ========================================================================== */
   .fullscreen-bg,
   .fullscreen-bg__video {
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
   }
   .fullscreen-bg {
       z-index: -1; /* Display under buttons */
       max-height: 60vh; /* Fill up to 60% of device view height */
       -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); /* Fade video to bottom */
       mask-image: linear-gradient(linear, left top, left bottom, rgba(0,0,0,1), rgba(0,0,0,0));
   }
   .fullscreen-bg__video {
       width: 100%;
       height: 100%;
   }
   @media (min-aspect-ratio: 16/9) {
       .fullscreen-bg__video {
           height: 300%; /* Stretch image on 16:9 aspect ratio */
           top: -100%; /* Compensate */
       }
   }
   @media (max-aspect-ratio: 16/9) {
       .fullscreen-bg__video {
           height: 300%; /* Squash video on non-16:9 aspect ratios */
           top: -120%; /* Compensate */
       }
   }
   @media (max-width: 42em) {
       .fullscreen-bg {
           background: none; /* TODO(max): Replace with still image? url('../img/videoframe.jpg') center center / cover no-repeat; */
       }
       .fullscreen-bg__video {
           display: none; /* Hide video on mobile */
       }
   }

/* Homepage Product Listing
   ========================================================================== */

.product-listing {
	margin-bottom: 6rem;
}

.product-listing .category {
	display: flex;
	flex-wrap: wrap;
}

.product-listing .category .category-title {
	flex: 1 100%;
	margin: 3rem 0 0 1rem;
	font-size: 1.75rem;
	color: #333;
}

.in-stock {
	display: flex;
	flex-grow: 1;
	margin: 0;
	text-decoration: none;
	color: inherit;
	flex: 1 1 30%;
	/* Maximum 3 items per row */
}

.in-stock:focus,
.in-stock:active,
.in-stock:hover {
	color: #333;
	text-decoration: none;
	color: inherit;
}


.in-stock {
	margin: 1rem;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	/* Stretch */
	/* Align image to top when small */
	align-self: flex-start;
	min-width: 15rem;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 0.3rem;

	box-shadow: 0 0.1rem 1rem -0.1rem rgba(0, 0, 0, 0.05);
}

.product:active,
.product:focus,
.product:hover {
	transition: box-shadow 0.1s ease-in-out;
	box-shadow: 0 0.3rem 2rem -0.3rem rgba(0, 0, 0, 0.3);
	/* Hover animation */
}

.in-stock:focus .item .media,
.product:hover .item .media {
	filter: brightness(30%);
	transition: filter 0.3s cubic-bezier(0.42, 0.4, 0.21, 0.9);
}

.product .product-title {
	flex-basis: 7rem;
	/* Account for longer titles spanning multiple lines */
	padding: 1rem;
	margin: 0;
	order: 2;
}

.product .item {
	margin: 0;
	/* Full-width media */
	order: 1;
	position: relative;
}

.product .item .media {
	display: block;
	object-fit: cover;
	object-position: center top;
	height: 12rem;
	width: 100%;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}

.product .item .price {
	filter: opacity(0);
	position: absolute;
	left: calc(50% - 4rem);
	top: calc(50% - 1rem);
	border: 1px solid white;
	border-radius: 0.3rem;
	background-color: rgba(0,0,0,0.8);
	padding: 1rem;
	margin: 0;
	color: #4caf50;
	font-weight: bold;
}

.in-stock:focus .price,
.product:focus .price,
.product:active .price,
.product:hover .price {
	display: inherit;
	filter: opacity(1);
	transition: filter 0.3s cubic-bezier(0.42, 0.4, 0.21, 0.9);
}

.product .item .price .original-price {
	color: #fff;
	font-size: 1rem;
}

.product .item .price .discount {
	font-style: normal;
	background-color: red;
	padding: 0.25rem;
	color: #fff;
}


/* Featured
   ========================================================================== */

.featured .in-stock .category-title {
	max-height: 800px;
}

.featured .in-stock {
	overflow: hidden;
}

.product-listing .category.featured .product {
	text-align: center;
}

.product-listing .category.featured .product .product-title {
	font-size: 1.75rem;
}

.product-listing .category.featured .product .item .media {
	height: 20rem;
}

.product-listing .category.featured .product .item .price {
	font-size: 1.5rem;
}