/* Product Details
   ========================================================================== */

.view-product,
.related-products {
    display: flex;
    flex-wrap: wrap;
    max-width: 80rem;
    margin: 0 auto;
}

.view-product-title,
.related-products-title,
.comments-title {
    color: #333;
    flex: 1 100%;
    margin: 3rem 1rem 0 1rem;
    font-size: 1.75rem;
    font-family: 'Kanit', sans-serif;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 1rem;
    padding: 1rem;

    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem 1rem -0.1rem rgba(0, 0, 0, 0.05);
}

.details-title {
    flex: 1 100%;
    margin: 1rem 0 0 1rem;
    font-size: 1.5rem;
}

.details-info {
    margin: 1rem;
    min-width: 15rem;
}

.product-preview {
    flex: 1;
}

.product-description {
    flex: 2;
    line-height: 1.5rem;
}

.product-price {
    color: #4caf50;
    font-weight: bold;
}

.product-price del {
    color: #333;
    font-weight: initial;
}

.item {
    margin: 0;
}

.caption {
    line-height: 1.5rem;
    margin-top: 0.5rem;
}

.media {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    border-radius: 0.3rem;
}

.buy-link {
    color: black;
    text-decoration: none;
    line-height: 1.15;
    display: inline-block;
    margin-right: 1rem;
}

.buy-link:hover {
    color: black;
    text-decoration: none;
}

.add-to-cart {
    background-color: #4caf50;
}
.add-to-cart:hover,
.add-to-cart:active,
.add-to-cart:focus {
    background-color: #59e45f
}


.remove-from-cart {
    background-color: #e95555
}

.remove-from-cart:focus,
.remove-from-cart:active,
.remove-from-cart:hover {
    background-color: #ff6767;
}

#cart {
    position: fixed;
    bottom:2rem;
    right:2rem;
    background: white;
    color: #333;
    width:5rem;
    height:5rem;
    z-index: 1000;
    border-radius: 2.5rem;
    border: 1px solid #333;
    box-shadow: -0.2rem 0.2rem #000;

    cursor: pointer;
    -webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#cart:hover,
#cart:active,
#cart:focus {
    background-color: #FFFF00;
    border: 1px solid #333;
	box-shadow: -0.4rem 0.4rem #000;
}

#cart:hover .cart-count,
#cart:active .cart-count,
#cart:focus .cart-count{
    color: #FFFF00;
}

.cart-icon {
    font-size: 2.5rem;
    padding: 1.25rem;
    padding-left: 0.85rem;
    padding-top: 1.3rem;
}

.cart-count {
    font-size: 1.25rem;
    font-family: 'Kanit', sans-serif;
    position: absolute;
    top: 1.6rem;
    left: 2.35rem;

    color: white;
}

.comment-list {
    margin: 0;
    padding: 0;
}

.comment {
    display: flex;
    flex-wrap: wrap;

    margin: 1rem;
    padding: 1rem;
    list-style: none;

    max-width: 30rem;

    overflow: hidden;
    text-overflow: ellipsis;

    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem 1rem -0.1rem rgba(0, 0, 0, 0.05);
}

.profile-name,
.profile-pic,
.comment-text,
.thumbs {
    display: block;

}

.profile-pic {
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.thumbs {
    font-size: 2rem;
    padding-top: 1rem;
}

.up {
    color: #4caf50;
}

.down {
    color: #e95555;
}

.profile-name {
    margin: 0;
    padding: 0;
}
.comment-text {
    width: 100%;
}

.profile-pic {
    max-width: 5rem;
    max-height: 5rem;
}

.review-body {
    padding: 1rem;
    border-radius: 0.3rem;
    min-height: 10rem;
    width: 100%;
    resize: vertical;
    display: block;
}

.leave-review {
    margin: 0;
    max-width: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.leave-review-container {
    margin: 1rem;
    max-width: 30rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 0.125rem solid #ccc;

}

.review-label {
    width: 100%;
    margin-bottom: 0.75rem;
    display: block;
}

.thumb-label {
    font-size: 2rem;
    margin: 0.75rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.up-label:hover,
.up-label:focus,
#up-radio:checked+label {
    color: #4caf50;
}

.down-label:hover,
.down-label:focus,
#down-radio:checked+label {
    color: #e95555;
}

#up-radio:focus+label,
#down-radio:focus+label {
    text-shadow:
    -0.05rem -0.05rem 0.5rem #fff,
    0.05rem -0.05rem 0.5rem #fff,
    -0.05rem 0.05rem 0.5rem #fff,
    0.05rem 0.05rem 0.5rem #fff;
}

.down-label:hover,
.down-label:focus {
    color: #e95555;
}


.confirmation-button {
    margin: 0.75rem;
}

.not-visible {
    opacity: 0;
    height: 0;
    width: 0;
}

fieldset {
    border: 0;
}

legend {
    display: none;
}

@media (max-width: 40em) {
    fieldset label {
        display: block;
        width: 100%;
    }
    .confirmation-button {
        display: block;
        width: 100%;
    }
}