/* Global
   ========================================================================== */

* {
	/* Include padding and border in all elements' total width and height. */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	box-shadow: 0 0 1.5rem #33AAFF;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
	background-color: #ececec;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Serif", "Open Sans", Arial, sans-serif;
}

.skip {
	color: rgba(255, 255, 255, 0.5);
}

/* Homepage video banner
   ========================================================================== */

.fullscreen-bg,
.fullscreen-bg__video {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.fullscreen-bg {
	z-index: -1; /* Display under buttons */
	max-height: 60vh; /* Fill up to 60% of device view height */
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); /* Fade video to bottom */
	mask-image: linear-gradient(linear, left top, left bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.fullscreen-bg__video {
	width: 100%;
	height: 100%;
}
@media (min-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		height: 300%; /* Stretch image on 16:9 aspect ratio */
		top: -100%; /* Compensate */
	}
}
@media (max-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		height: 300%; /* Squash video on non-16:9 aspect ratios */
		top: -120%; /* Compensate */
	}
}
@media (max-width: 42em) {
	.fullscreen-bg {
		background: none; /* TODO(max): Replace with still image? url('../img/videoframe.jpg') center center / cover no-repeat; */
	}
	.fullscreen-bg__video {
		display: none; /* Hide video on mobile */
	}
}

/* Static banner images
   ========================================================================== */

.banner-image {
	position: absolute; 
	top: 0;
	left: 0;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 60vh;
	position: absolute;
	z-index: -10;
}
.banner-image.banner-image-1 {
	background-image: url("../img/banners/helios.jpg");
	background-position: center right;
}
.banner-image.banner-image-2 {
	background-image: url("../img/banners/windshear-waste.jpg");
	background-position: center center;
}

/* Cards
   ========================================================================== */

.welcome, .citations, .style-guide, .contact-us {
	max-width: 42rem; /* Constrain main width */
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 0.3rem;
	margin: 0 auto;
	padding: 2rem;
	box-shadow: 0 0.3rem 2rem -0.3rem rgba(0, 0, 0, 0.3);
}
.welcome-title, .citations-title, .style-guide-title {
	flex: 1 100%;
	margin: 0;
	font-size: 1.75rem;
}

/* Product Details
   ========================================================================== */

.view .view-product,
.view .related-products {
	display: flex;
	flex-wrap: wrap;
	max-width: 80rem;
	margin: 0 auto;
}

.view .view-product-title,
.view .related-products-title {
	color: #333;
	flex: 1 100%;
	margin: 3rem 1rem 0 1rem;
	font-size: 1.75rem;
}

.view .details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	margin: 1rem;
	padding: 1rem;

	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 0.3rem;
	box-shadow: 0 0.1rem 1rem -0.1rem rgba(0, 0, 0, 0.05);
}

.view .details-title {
	flex: 1 100%;
	margin: 1rem 0 0 1rem;
	font-size: 1.5rem;
}

.view .details-info {
	margin: 1rem;
}

.view .product-preview {
	flex: 1;
}

.view .product-description {
	flex: 2;
	line-height: 1.5rem;
}

.view .product-price {
	color: #4caf50;
	font-weight: bold;
}

.view .product-price del {
	color: #333;
	font-weight: initial;
}

.view .product-preview .item {
	margin: 0;
}

.view .product-preview .caption {
	line-height: 1.5rem;
	margin-top: 0.5rem;
}

.view .product-preview .media {
	object-fit: cover;
	object-position: center top;
	width: 100%;
	border-radius: 0.3rem;
}

.view .buy-button {
	display: block;
	max-width: 8rem;
	background-color: #fff;
	color: #333;
	border-radius: 0.3rem;
	padding: 1rem;
	border: 1px solid #333;
	text-decoration: none;
	text-align: center;
	box-shadow: -0.2rem 0.2rem #000;
}

.view .buy-button:hover {
	color: #333;
	background-color: #FFFF00;
	border: 1px solid #333;
	cursor: pointer;
}

/* Homepage Product Listing
   ========================================================================== */

.product-listing {
	margin-bottom: 6rem;
	/* Featured product */
}

.product-listing .category {
	display: flex;
	flex-wrap: wrap;
	/* Remove default <a> styling */
}

.product-listing .category .category-title {
	flex: 1 100%;
	margin: 3rem 0 0 1rem;
	font-size: 1.75rem;
	color: #333;
}

.in-stock {
	display: flex;
	flex-grow: 1;
	margin: 0;
	text-decoration: none;
	color: inherit;
	flex: 1 1 30%;
	/* Maximum 3 items per row */
}

.in-stock:hover {
	text-decoration: none;
	color: inherit;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	/* Stretch */
	/* Align image to top when small */
	align-self: flex-start;
	min-width: 15rem;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 0.3rem;
	margin: 1rem;
	box-shadow: 0 0.1rem 1rem -0.1rem rgba(0, 0, 0, 0.05);
}

.product:hover {
	transition: box-shadow 0.1s ease-in-out;
	box-shadow: 0 0.3rem 2rem -0.3rem rgba(0, 0, 0, 0.3);
	/* Hover animation */
}

.product:hover .item .media {
	filter: brightness(30%);
	transition: filter 0.3s cubic-bezier(0.42, 0.4, 0.21, 0.9);
}

.product .product-title {
	flex-basis: 3rem;
	/* Account for longer titles spanning multiple lines */
	padding: 1rem;
	margin: 0;
	order: 2;
}

.product .item {
	margin: 0;
	/* Full-width media */
	order: 1;
	position: relative;
}

.product .item .media {
	display: block;
	object-fit: cover;
	object-position: center top;
	height: 12rem;
	width: 100%;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}

.product .item .price {
	filter: opacity(0);
	position: absolute;
	left: calc(50% - 4rem);
	top: calc(50% - 1rem);
	border: 1px solid white;
	border-radius: 0.3rem;
	background-color: rgba(0,0,0,0.8);
	padding: 1rem;
	margin: 0;
	color: #4caf50;
	font-weight: bold;
}

.product:hover .price {
	display: inherit;
	filter: opacity(1);
	transition: filter 0.3s cubic-bezier(0.42, 0.4, 0.21, 0.9);
}

.product .item .price .original-price {
	color: #fff;
	font-size: 1rem;
}

.product .item .price .discount {
	font-style: normal;
	background-color: red;
	padding: 0.25rem;
	color: #fff;
}

.product .add-to-cart {
	order: 3;
	align-self: center;
	flex-basis: 1rem;
	color: #333;
	border-radius: 0.3rem;
	padding: 1rem;
	margin: 0 0 1rem 0;
	border: 1px solid #333;
	background-color: transparent;
	text-decoration: none;
}

.product .add-to-cart:hover {
	color: #333;
	background-color: #FFFF00;
	border: 1px solid #333;
	cursor: pointer;
}

/* Featured
   ========================================================================== */

.featured .in-stock .category-title {
	max-height: 800px;
}

.masonry {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 10rem 10rem;
}

.featured .in-stock {
	overflow: hidden;
}

.featured .in-stock:nth-of-type(1) {
	grid-column: span 2;
	grid-row: span 2;

}
.featured .in-stock:nth-of-type(2) {
	grid-column: span 2;
	grid-row: span 1;
}
.featured .in-stock:nth-of-type(3) {
	grid-column: span 1;
	grid-row: span 1;
}
.featured .in-stock:nth-of-type(4) {
	grid-column: span 1;
	grid-row: span 1;
}


.product-listing .category.featured .product {
	text-align: center;
}

.product-listing .category.featured .product .product-title {
	font-size: 1.75rem;
}

.product-listing .category.featured .product .item .media {
	height: 20rem;
}

.product-listing .category.featured .product .item .price {
	font-size: 1.5rem;
}

.product-listing .category.featured .product .add-to-cart {
	flex-basis: 2rem;
	width: 10rem;
	margin: 0 0 2rem 0;
}

/* Checkout
   ========================================================================== */

.checkout {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 6rem;
	max-width: 42rem;
	margin: 0 auto;
}

.checkout .checkout-title {
	flex: 1 100%;
	margin: 3rem 0 0 1rem;
	font-size: 1.75rem;
}

.checkout .payment, .checkout .cart {
	display: flex;
	text-align: center;
	flex-direction: column;
	width: 100%; /* Stretch */
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 0.3rem;
	margin: 1rem;
	padding: 1rem 1rem 2rem 1rem;
	box-shadow: 0 0.3rem 2rem -0.3rem rgba(0, 0, 0, 0.3);
}

.payment-title, .cart-title {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.checkout .payment .cart-item, .checkout .cart .cart-item {
	padding: 0 2rem;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	justify-content: space-between;
}

.checkout .payment .cart-item .cart-item-title,
.checkout .cart .cart-item .cart-item-title {
	margin: 0;
}

.checkout .payment .cart-total, .checkout .cart .cart-total {
	border-top: 1px solid #ccc;
	text-align: left;
	margin: 0 2rem;
}

.checkout .payment .text-input-label,
.checkout .payment .select-input-label,
.checkout .cart .text-input-label,
.checkout .cart .select-input-label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.checkout .payment .radio-input-label,
.checkout .cart .radio-input-label {
	display: inline-block;
}

.checkout .payment .text-input-field,
.checkout .payment .select-input-field,
.checkout .cart .text-input-field,
.checkout .cart .select-input-field {
	border: 1px solid #c6c7cc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	width: 12rem;
}

.text-input-field {
	padding: 0.75rem;
}

.checkout .payment .submit-button,
.checkout .cart .submit-button {
	width: 12rem;
	height: 2rem;
	background-color: #fff;
	border-radius: 0.3rem;
	border: 1px solid #333;
	color: #333;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 16px;
	box-shadow: -0.2rem 0.2rem #000;
}

.checkout .payment .submit-button:hover,
.checkout .cart .submit-button:hover {
	background: #FFFF00;
	transition: 0.2s;
}

.confirmation-button {
	width: 12rem;
	height: 2rem;
	background-color: #fff;
	border-radius: 0.3rem;
	border: 1px solid #333;
	color: #333;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 16px;
	box-shadow: -0.2rem 0.2rem #000;
	margin-top: 2rem;
	transition: 0.2s;
}

.confirmation-button:hover {
	background: #FFFF00;
}

.contact-email, .contact-title, .contact-body {
	width: 100%;
}

.contact-body {
	height: 10rem;
	resize: vertical;
}

.checkout .payment .reset-button,
.checkout .cart .reset-button {
	background-color: #af4c4c;
	border-radius: 0.3rem;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 16px;
}

.checkout .payment .reset-button:hover,
.checkout .cart .reset-button:hover {
	color: #af4c4c;
	background: #fff;
	border: 1px solid #af4c4c;
	transition: 0.2s;
}

.checkout .payment .text-input-label,
.checkout .payment .select-input-label,
.checkout .cart .text-input-label,
.checkout .cart .select-input-label {
	flex: 1 100%;
}

.checkout .payment .text-input-field,
.checkout .payment .select-input-field,
.checkout .cart .text-input-field,
.checkout .cart .select-input-field {
	flex: 1 100%;
	margin-bottom: 2rem;
}

.checkout .payment .text-input-field:hover,
.checkout .payment .select-input-field:hover,
.checkout .cart .text-input-field:hover,
.checkout .cart .select-input-field:hover {
	border: 1px solid #33AAFF;
}

.checkout .payment .text-input-field:focus,
.checkout .payment .select-input-field:focus,
.checkout .cart .text-input-field:focus,
.checkout .cart .select-input-field:focus {
	box-shadow: 0 0 10px #33AAFF;
}

/* Media Queries
   ========================================================================== */

@media (max-width: 38em) {
	.banner {
		padding: 1rem;
		width: 85%;
	}
	html body header nav ul li {
		width: 100%;
		padding: 0 1rem;
	}
	html body header nav ul li a {
		padding: 1rem;
	}
	html body main {
		padding: 0 0.5rem;
	}
	html body header {
		padding-top: 1rem;
	}
	.add-to-cart {
		width: 80%;
	}
	.cart-item-title {
		flex: 1 100%;
	}
}

.table-of-contents {
	text-align: center;
	margin-bottom: 2rem;
}

.table-of-contents .table-of-contents-title {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 0;
}

.table-of-contents ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 1rem;
}

.table-of-contents ul li {
	line-height: 2rem;
	overflow-wrap: break-word;
}

.table-of-contents .skip {
	display: block;
	margin-bottom: 2rem;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #333;
}

body header {
	padding-top: 4rem;
	background-color: transparent;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

body header h1 {
	display: none;
}

body header .banner {
	max-width: 100%;
}

body header .banner:hover {
	filter: brightness(120%);
	transition: filter 0.1s cubic-bezier(0.42, 0.4, 0.21, 0.9);
}

body header nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
	list-style-type: none;
}

body header nav ul li {
	margin: 0.25rem;
	display: block;
	width: 9rem;
}

body header nav ul li a {
	display: block;
	color: #333;
	border: 1px solid #000;
	background-color: #fff;
	padding: 1rem;
	border-radius: 0.3rem;
	text-decoration: none;
	box-shadow: -0.2rem 0.2rem #000;
}

body header nav ul li a:hover {
	color: #333;
	background-color: #FFFF00;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	box-shadow: -0.2rem 0.2rem #000;
}

body header nav ul li.active a {
	color: #333;
	background-color: #f2e123;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

li.active a:hover {
	background-color: #FFFF00;
}

body main {
	max-width: 80rem;
	margin: 0 auto;
}

body main a {
	color: #07C;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

body main a:hover {
	color: #33AAFF;
	transition: 0.2s;
	text-decoration: underline;
}

body main a:focus {
	color: #33AAFF;
	text-decoration: none;
}

/* Style Guide
   ========================================================================== */

.style-guide p {
	line-height: 1.5rem;
}

.style-guide li {
	line-height: 2rem;
}

.style-guide article {
	padding-bottom: 1rem;
	margin-bottom: 2.5rem;
	border-bottom: 1px solid #eee;
}

.style-guide article a:hover {
	color: #33AAFF;
	transition: 0.2s;
}

.style-guide article code {
	background-color: #f7f7f7;
	padding: 0 0.5rem;
	border: 1px solid #ddd;
	font-size: 0.8rem;
}

.style-guide article .html code {
	padding: 0.8rem;
	display: block;
	overflow: auto;
}

.style-guide article button {
	width: 5rem;
}

.style-guide section h5 {
	flex: 1 100%;
}

.style-guide section.listing {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.style-guide article.product {
	width: 42%;
	min-height: 3rem;
	background: #eee;
	border: 1px solid #ccc;
	text-align: center;
	margin-bottom: 1rem;
	padding: 1rem;
}

.style-guide .persona {
	width: 20rem;
}

.style-guide a {
	display: inline-block;
}

.style-guide a figure {
	margin: 0;
}

.style-guide a img:hover {
	opacity: 0.7;
}

.style-guide form {
	border: 1px solid #c6c7cc;
	border-radius: 5px;
	overflow: hidden;
	width: 240px;
}

.style-guide fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.style-guide label {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.style-guide .text-input-label {
	display: block;
}

.style-guide .radio-input-label {
	display: inline-block;
}

.style-guide input {
	border: 1px solid #c6c7cc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	padding: 0.75rem;
}

.style-guide .submit-button {
	background-color: #fff;
	border-radius: 0.3rem;
	border: 1px solid #333;
	color: #333;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 16px;
}

.style-guide .submit-button:hover {
	background: #f2e123;
	transition: 0.2s;
}

.style-guide .reset-button {
	background-color: #fff;
	border-radius: 0.3rem;
	border: 1px solid #333;
	color: #333;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 16px;
}

.style-guide .reset-button:hover {
	color: #fff;
	background: #333;
	transition: 0.2s;
}

.style-guide pre:before {
	font-size: 0.8rem;
	border-radius: 0.3rem 0.3rem 0 0;
	display: block;
	color: #fff;
	text-indent: 0.5rem;
	padding: 0.25rem 0.25rem;
}

.style-guide input:hover {
	border: 1px solid #33AAFF;
}

.style-guide input:focus {
	box-shadow: 0 0 10px #33AAFF;
}

.style-guide section {
	margin-top: 3rem;
}

.style-guide h1 {
	font-size: 3rem;
}

.style-guide h2 {
	font-size: 2rem;
}

.style-guide h3 {
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.style-guide h2,
.style-guide h3,
.style-guide h4 {
	margin-top: 0;
}

.style-guide img {
	width: 100px;
}


/* Misc
   ========================================================================== */

body .container {
	color: #59626a;
}

body div.grid .grid-row {
	margin-bottom: 1rem;
}

body div.grid .grid-row .col {
	margin-right: 2%;
	margin-bottom: 1rem;
	width: 20%;
	display: inline-block;
}

body .color-display.primaryColor {
	background: #f2e123;
	margin-bottom: 1rem;
}

body .color-display.secondaryColor {
	background: #33AAFF;
	margin-bottom: 1rem;
}

body .color-display.priceColor {
	background: #4caf50;
	margin-bottom: 1rem;
}


body .color-display.accentColor {
	background: #333;
	margin-bottom: 1rem;
}

body .color-display.dividerColor {
	background: #ccc;
	margin-bottom: 1rem;
}

body .color-display {
	width: 100%;
	display: block;
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	padding: 1rem 0;
}

body .color-title {
	font-size: 1rem;
	text-transform: uppercase;
	color: #CED7DF;
	display: block;
}

body .color-name {
	font-size: 1rem;
	color: #59626a;
	display: block;
	margin-bottom: 1rem;
}

body .color-display,
body .outline-button-bg {
	border-radius: 0.3rem 0.3rem 0 0;
}

body footer {
	background: transparent;
	text-align: center;
	vertical-align: middle;
	padding: 2em 0 1em 0;
}

body #imagery-and-art-direction figure {
	margin: 0 0 2rem 0;
	line-height: 1.5rem;
}

body #imagery-and-art-direction figure figcaption {
	margin-top: 0.5rem;
}

body #imagery-and-art-direction img {
	width: 100%;
}

/* Citations
   ========================================================================== */

.citations ul {
	line-height: 1.5rem;
}

.citations ul li {
	margin-bottom: 1rem;
}

.image-citations, .code-citations, .text-citations, .image-citations, .code-citations, .text-citations {
	margin-top: 2rem;
}