/* Include padding and border in all elements' total width and height. */
* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body main {
  max-width: 37rem;
  margin: 0 auto; }

/* Style */
html {
  scroll-behavior: smooth;
  background: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #333; }
  body header {
    padding: 2rem 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    vertical-align: middle; }
    body header h1 {
      font-size: 4rem; }
    body header nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 0;
      list-style-type: none; }
      body header nav ul li {
        margin: 0.25rem;
        display: block;
        width: 7rem; }
        body header nav ul li a {
          display: block;
          color: #fff;
          border: 1px solid #fff;
          padding: 0.5rem;
          border-radius: 0.3rem;
          text-decoration: none; }
          body header nav ul li a:hover {
            color: #333;
            background-color: #fff;
            -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s; }
      body header nav ul li.active a {
        color: #333;
        background-color: #fff;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s; }
  body main {
    background: #fff;
    margin: 0 auto;
    padding: 2rem; }
    body main a {
      color: #07C;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    body main a:hover {
      color: #33AAFF;
      transition: 0.2s;
      text-decoration: underline; }
    body main a:focus {
      padding: 0.5rem;
      color: #33AAFF;
      border: 1px solid #33AAFF;
      box-shadow: 0 0 10px #33AAFF;
      border-radius: 0.3rem;
      text-decoration: none; }
    body main aside {
      text-align: center;
      margin-bottom: 2rem; }
      body main aside h2 {
        font-size: 1rem;
        font-weight: 700;
        margin-top: 0; }
      body main aside ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 1rem; }
        body main aside ul li {
          line-height: 2rem;
          overflow-wrap: break-word; }
    body main section#style-guide p {
      line-height: 1.5rem;
      max-width: 37rem; }
    body main section#style-guide li {
      line-height: 2rem; }
    body main section#style-guide article {
      padding-bottom: 1rem;
      margin-bottom: 2.5rem;
      border-bottom: 1px solid #eee; }
      body main section#style-guide article a:hover {
        color: #33AAFF;
        transition: 0.2s; }
      body main section#style-guide article code {
        background-color: #f7f7f7;
        padding: 0 4px;
        border: 1px solid #ddd;
        font-size: 0.8rem; }
      body main section#style-guide article .html code {
        padding: 0.8rem;
        display: block;
        overflow: auto; }
      body main section#style-guide article button {
        width: 5rem; }
    body main section#style-guide section h5 {
      flex: 1 100%; }
    body main section#style-guide section.listing {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    body main section#style-guide article.product {
      width: 42%;
      min-height: 3rem;
      background: #eee;
      border: 1px solid #ccc;
      text-align: center;
      margin-bottom: 1rem;
      padding: 1rem; }
    body main section#style-guide .persona {
      width: 20rem; }
    body main section#style-guide a {
      display: inline-block; }
    body main section#style-guide a figure {
      margin: 0; }
    body main section#style-guide a img:hover {
      opacity: 0.7; }
    body main section#style-guide form {
      border: 1px solid #c6c7cc;
      border-radius: 5px;
      overflow: hidden;
      width: 240px; }
    body main section#style-guide fieldset {
      border: 0;
      margin: 0;
      padding: 0; }
    body main section#style-guide label {
      font-weight: bold;
      margin-bottom: 0.5rem; }
    body main section#style-guide .text-input-label {
      display: block; }
    body main section#style-guide .radio-input-label {
      display: inline-block; }
    body main section#style-guide input {
      border: 1px solid #c6c7cc;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
      padding: 0.75rem; }
    body main section#style-guide .submit-button {
      background-color: #07C;
      border-radius: 0.3rem;
      border: 1px solid #fff;
      color: #fff;
      cursor: pointer;
      font-weight: bold;
      padding: 8px 16px; }
    body main section#style-guide .submit-button:hover {
      color: #33AAFF;
      background: #fff;
      border: 1px solid #33AAFF;
      transition: 0.2s; }
    body main section#style-guide .reset-button {
      background-color: #af4c4c;
      border-radius: 0.3rem;
      border: 1px solid #fff;
      color: #fff;
      cursor: pointer;
      font-weight: bold;
      padding: 8px 16px; }
    body main section#style-guide .reset-button:hover {
      color: #af4c4c;
      background: #fff;
      border: 1px solid #af4c4c;
      transition: 0.2s; }
    body main section#style-guide pre:before {
      font-size: 0.8rem;
      border-radius: 0.3rem 0.3rem 0 0;
      display: block;
      color: #fff;
      text-indent: 0.5rem;
      padding: 0.25rem 0.25rem; }
    body main section#style-guide input:hover {
      border: 1px solid #07C; }
    body main section#style-guide input:focus {
      border: 1px solid #07C;
      box-shadow: 0 0 10px #07C; }
    body main section#style-guide pre.html:before {
      content: "HTML";
      background: #333; }
    body main section#style-guide pre.css:before {
      content: "CSS Selector";
      background: #ff9800; }
    body main section#style-guide section {
      margin-top: 3rem; }
    body main section#style-guide h1 {
      font-size: 3rem; }
    body main section#style-guide h2 {
      font-size: 2rem; }
    body main section#style-guide h3 {
      font-size: 1.5rem;
      padding-bottom: 1rem; }
    body main section#style-guide h2, body main section#style-guide h3, body main section#style-guide h4 {
      margin-top: 0; }
    body main section#style-guide img {
      width: 100px; }
  body .container {
    color: #59626a; }
  body div.grid .grid-row {
    margin-bottom: 1rem; }
  body div.grid .grid-row .col {
    margin-right: 2%;
    margin-bottom: 1rem;
    width: 20%;
    display: inline-block; }
  body .color-display.primaryColor {
    background: #07C;
    margin-bottom: 1rem; }
  body .color-display.secondaryColor {
    background: #c6c7cc;
    margin-bottom: 1rem; }
  body .color-display.accentColor {
    background: #ff9800;
    margin-bottom: 1rem; }
  body .color-display.dividerColor {
    background: #333;
    margin-bottom: 1rem; }
  body .color-display {
    width: 100%;
    height: 100px;
    display: block; }
  body .color-title {
    font-size: 1rem;
    text-transform: uppercase;
    color: #CED7DF;
    display: block; }
  body .color-name {
    font-size: 1rem;
    color: #59626a;
    display: block;
    margin-bottom: 1rem; }
  body .color-display, body .outline-button-bg {
    border-radius: 0.3rem 0.3rem 0 0; }
  body footer {
    color: #fff;
    background: #333;
    text-align: center;
    vertical-align: middle;
    padding: 2em 0 1em 0; }
  body #imagery-and-art-direction figure {
    margin: 0 0 2rem 0;
    line-height: 1.5rem; }
    body #imagery-and-art-direction figure figcaption {
      margin-top: 0.5rem; }
  body #imagery-and-art-direction img {
    width: 100%; }

/*# sourceMappingURL=style.css.map */
