/* Include padding and border in all elements' total width and height. */
* {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

/* Global */
html {
    scroll-behavior: smooth;
    background-color: #ececec;
}

.skip {
    color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Serif", Helvetica, Arial, sans-serif;
}

/* Citations and Style Guide */
.citations, .style-guide {
    max-width: 42rem;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 0.3rem;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0.3rem 2rem -0.3rem rgba(0, 0, 0, 0.3);

    .citations-title, .style-guide-title {
        flex: 1 100%;
        margin: 0;
        font-size: 1.75rem;
    }

    .image-citations, .code-citations, .text-citations {
        margin-top: 2rem;
    }
}

*:focus {
    box-shadow: 0 0 1.5rem #33AAFF;
    text-decoration: none;
}

.content {
    margin-bottom: 5rem;
}

.citations {
    ul {
        line-height: 1.5rem;
        li {
            margin-bottom: 1rem;
        }
    }
}

/* Checkout */
.checkout {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;
    max-width: 42rem;
    margin: 0 auto;

    .checkout-title {
        flex: 1 100%;
        margin: 3rem 0 0 1rem;
        font-size: 1.75rem;
    }

    .payment, .cart {
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%; /* Stretch */

        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 0.3rem;
        margin: 1rem;
        padding: 1rem 1rem 2rem 1rem;
        box-shadow: 0 0.3rem 2rem -0.3rem rgba(0, 0, 0, 0.3);

        .payment-title, .cart-title {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

        .cart-item {
            padding: 0 2rem;
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            justify-content: space-between;

            .cart-item-title {
                margin: 0;
            }
        }

        .cart-total {
            border-top: 1px solid #ccc;
            text-align: left;
            margin: 0 2rem;
        }

        // The label and text input look visually related
        .text-input-label, .select-input-label {
            display: block;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        .radio-input-label {
            display: inline-block;
        }
        
        .text-input-field, .select-input-field {
            border: 1px solid #c6c7cc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
            padding: 0.75rem;
            width: 12rem;
        }

        .submit-button {
            width: 12rem;
            height: 2rem;
            background-color: #fff;
            border-radius: 0.3rem;
            border: 1px solid #333;
            color: #333;
            cursor: pointer;
            font-weight: bold;
            padding: 8px 16px;
        }
        .submit-button:hover {
            background: rgb(242, 225, 35);
            transition: 0.2s;
        }
        .reset-button {
            background-color: #af4c4c;
            border-radius: 0.3rem;
            border: 1px solid #fff;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
            padding: 8px 16px;
        }
        .reset-button:hover {
            color: #af4c4c;
            background: #fff;
            border: 1px solid #af4c4c;
            transition: 0.2s;
        }

        .text-input-label, .select-input-label {
            flex: 1 100%;
        }
        .text-input-field, .select-input-field {
            flex: 1 100%;
            margin-bottom: 2rem;

            &:hover {
                border: 1px solid #33AAFF;
            }
            &:focus {
                box-shadow: 0 0 10px #33AAFF;
            }
        }
    }
}

/* Product Listing */
.product-listing {
    margin-bottom: 6rem;

    .category {
        display: flex;
        flex-wrap: wrap;

        .category-title {
            flex: 1 100%;
            margin: 3rem 0 0 1rem;
            font-size: 1.75rem;
        }

        /* Remove default <a> styling */
        .in-stock {
            display: flex;
            flex-grow: 1;
            margin: 0;

            text-decoration: none;
            color:inherit;

            flex: 1 1 30%; /* Maximum 3 items per row */
        }
        
        .product {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%; /* Stretch */
            
            /* Align image to top when small */
            align-self: flex-start;
            min-width: 15rem;

            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 0.3rem;
            margin: 1rem;

            box-shadow: 0 0.1rem 1rem -0.1rem rgba(0, 0, 0, 0.05);
            &:hover {
                transition: box-shadow 0.1s ease-in-out;
                box-shadow: 0 0.3rem 2rem -0.3rem rgba(0, 0, 0, 0.3);

                /* Hover animation */
                .item {
                    .media {
                        filter: contrast(90%);
                        transition: filter 0.1s cubic-bezier(0.42, 0.40, 0.21, 0.90);
                    }
                }
            }

            .product-title {
                flex-basis: 3rem; /* Account for longer titles spanning multiple lines */
                padding: 1rem;
                margin: 0;
                order: 2;
            }
            
            .item {
                margin: 0; /* Full-width media */
                order: 1;
                
                .media {
                    filter: contrast(70%);

                    display: block;
                    object-fit: cover;
                    object-position: center top; 
                    height: 12rem;
                    width: 100%;
                    border-top-left-radius: 0.3rem;
                    border-top-right-radius: 0.3rem;
                }

                .price {
                    padding: 1rem;
                    margin: 0;

                    color: #4caf50;
                    font-weight: bold;

                    .original-price {
                        color: #333;
                        font-size: 0.7rem;
                    }

                    .discount {
                        font-style: normal;
                        background-color: red;
                        padding: 0.25rem;
                        color: #fff;
                    }
                }
            }

            .add-to-cart {
                order: 3;
                align-self: center;
                flex-basis: 1rem;

                color: #333;
                border-radius: 0.3rem;
                padding: 1rem;
                margin: 0 0 1rem 0;
                border: 1px solid #333;
                background-color: transparent;
                text-decoration: none;

                &:hover {
                    color: #333;
                    background-color: rgb(242, 225, 35);
                    border: 1px solid #333;
                    cursor: pointer;
                }
            }
        }
    }
     /* Featured product */
    .category.featured {
        .product {
            text-align: center;

            .product-title {
                font-size: 1.75rem;
            }

            .item {
                .media {
                    height: 20rem;
                }
                .price {
                    font-size: 1.5rem;
                }
            }

            .add-to-cart {
                flex-basis: 2rem;
                width: 10rem;
                margin: 0 0 2rem 0;
            }
        }
    }
}

@media (max-width: 38em) {
    .banner {
        padding: 1rem;
        width: 85%;
    }
    html body header nav ul li {
        width: 100%;
        padding: 0 1rem;
        a {
            padding: 1rem;
        }
    }
    html body main {
        padding: 2rem 0.5rem;
    }
    html body header {
        padding-top: 1rem;
    }
    .add-to-cart {
        width: 80%;
    }
    .cart-item-title {
        flex: 1 100%;
    }
}

.table-of-contents {
    text-align: center;
    margin-bottom: 2rem;

    .table-of-contents-title {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 1rem;
        li {
            line-height: 2rem;
            overflow-wrap: break-word;
        }
    }

    .skip {
        display: block;
        margin-bottom: 2rem;
    }
}

body {
    margin: 0;
    padding: 0;
    // Change the default font
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;

    header {
        padding-top: 4rem;
        background-color: transparent;
        color: #fff;
        text-align: center;
        vertical-align: middle;

        h1 {
            display: none;
        }

        .banner {
            max-width: 100%;
            filter: opacity(85%);

            &:hover {
                filter: opacity(100%);
                transition: filter 0.1s cubic-bezier(0.42, 0.40, 0.21, 0.90);
            }
        }

        nav {
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                padding-left: 0;
                list-style-type: none;

                li {
                    margin: 0.25rem;
                    display: block;
                    width: 9rem;

                    a {
                        display: block;
                        color: #333;
                        border: 1px solid #333;
                        background-color: #fff;
                        padding: 1rem;
                        border-radius: 0.3rem;
                        text-decoration: none;

                        &:hover {
                            color: #333;
                            background-color: rgb(242, 225, 35);
                            -webkit-transition-duration: 0.2s;
                            transition-duration: 0.2s;
                        }
                    }
                }
                li.active {
                    a {
                        color: #333;
                        background-color: rgb(242, 225, 35);
                        -webkit-transition-duration: 0.2s;
                        transition-duration: 0.2s;  
                    }
                }
            }
        }
    }

    main {
        max-width: 80rem;
        margin: 0 auto;

        a {
            color: #07C;
            -webkit-transition: 0.2s;
            transition: 0.2s;
        }
        a:hover {
            color: #33AAFF;
            transition: 0.2s;
            text-decoration: underline;
        }
        a:focus {
            color: #33AAFF;
            text-decoration: none;
        }

        @mixin sticky() {
            @media only screen and (min-width: 910px)  {
                position: -webkit-sticky;
                position: sticky;
                top: 5%;
            }
        }   

        .style-guide {
            p {
                line-height: 1.5rem;
                // Shorten the default width of the <p> element, but ensure it is still responsive when the viewport shrinks
            }
            li {
                line-height: 2rem;
            }

            article {
                padding-bottom: 1rem;
                margin-bottom: 2.5rem;
                border-bottom: 1px solid #eee;
                a:hover {
                    // Add a different hover and focus state styling to the in-text link
                    color: #33AAFF;
                    transition: 0.2s;
                }
                code {
                    background-color: #f7f7f7;
                    padding: 0 0.5rem;
                    border: 1px solid #ddd;
                    font-size: 0.8rem;
                }
                .html code {
                    padding: 0.8rem;
                    display: block;
                    overflow: auto;
                }
                button {
                    width: 5rem;
                }
            }

            section h5 {
                flex: 1 100%;
            }
            section.listing {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            article.product {
                width: 42%;
                min-height: 3rem;
                background: #eee;
                border: 1px solid #ccc;
                text-align: center;
                margin-bottom: 1rem;
                padding: 1rem;
            }

            .persona {
                width: 20rem;
            }

            a {
                display: inline-block;
            }
            a figure {
                margin: 0;
            }
            a img:hover {
                // Add a different hover and focus state styling to the image as a link
                opacity: 0.7;
            }

            form {
                border: 1px solid #c6c7cc;
                border-radius: 5px;
                overflow: hidden;
                width: 240px;
            }
            fieldset {
                border: 0;
                margin: 0;
                padding: 0;
            }
            label {
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
            // The label and text input look visually related
            .text-input-label {
                display: block;
            }
            .radio-input-label {
                display: inline-block;
            }
            input {
                border: 1px solid #c6c7cc;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
                padding: 0.75rem;
            }
            .submit-button {
                background-color: #4caf50;
                border-radius: 0.3rem;
                border: 1px solid #fff;
                color: #fff;
                cursor: pointer;
                font-weight: bold;
                padding: 8px 16px;
            }
            .submit-button:hover {
                color: #4caf50;
                background: #fff;
                border: 1px solid #4caf50;
                transition: 0.2s;
            }
            .reset-button {
                background-color: #af4c4c;
                border-radius: 0.3rem;
                border: 1px solid #fff;
                color: #fff;
                cursor: pointer;
                font-weight: bold;
                padding: 8px 16px;
            }
            .reset-button:hover {
                color: #af4c4c;
                background: #fff;
                border: 1px solid #af4c4c;
                transition: 0.2s;
            }
    
            pre {
                &:before {
                    font-size: 0.8rem;
                    border-radius: 0.3rem 0.3rem 0 0;
                    display: block;
                    color: #fff;
                    text-indent: 0.5rem;
                    padding: 0.25rem 0.25rem;
                }
            }

            // The text input shows us when it has been interacted with, both on hover and focus
            input:hover {
                border: 1px solid #33AAFF;
            }
            input:focus {
                box-shadow: 0 0 10px #33AAFF;
            }

            section {
                // Add space between <section> elements
                margin-top: 3rem;
            }

            h1 {
                font-size: 3rem;
            }
            h2 {
                font-size: 2rem;
            }
            h3 {
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
            h2, h3, h4 {
                margin-top: 0;
            }

            img {
                width: 100px;
            }
        }
    }

    .container {
        color: #59626a;
    }

    div.grid .grid-row {
        margin-bottom: 1rem;
    }

    div.grid .grid-row .col {
        margin-right: 2%;
        margin-bottom: 1rem;
        width: 20%;
        display: inline-block;
    }

    .color-display.primaryColor {
        background: rgb(242, 225, 35);
        margin-bottom: 1rem;
    }

    .color-display.secondaryColor {
        background: #33AAFF;
        margin-bottom: 1rem;
    }

    .color-display.accentColor {
        background: #333;
        margin-bottom: 1rem;
    }

    .color-display.dividerColor {
        background: #ccc;
        margin-bottom: 1rem;
    }
    
    .color-display {
        width: 100%;
        display: block;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        padding: 1rem 0;
    }

    .color-title {
        font-size: 1rem;
        text-transform: uppercase;
        color: #CED7DF;
        display: block;
    }

    .color-name {
        font-size: 1rem;
        color: #59626a;
        display: block;
        margin-bottom: 1rem;
    }

    .color-display, .outline-button-bg {
        border-radius: 0.3rem 0.3rem 0 0;
    }

    footer {
        color: #333;
        background: transparent;
        text-align: center;
        vertical-align: middle;
        padding: 2em 0 1em 0;
    }
    #imagery-and-art-direction {
        figure {
            margin: 0 0 2rem 0;
            line-height: 1.5rem;

            figcaption {
                margin-top: 0.5rem;
            }
        }
        img {
            width: 100%;
        }
    }
}