/* Include padding and border in all elements' total width and height. */
* {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    main {
        /*
        max-width: 37rem;
        margin: 0 auto;
        */
    }
}

/* Style */
html {
    scroll-behavior: smooth;
    background-color: #ececec;
}

.product-listing {
    margin-bottom: 6rem;

    .category {
        display: flex;
        flex-wrap: wrap;

        .category-title {
            flex: 1 100%;
            margin: 1rem 0 0 1rem;
            font-size: 1.75rem;
        }

        /* Remove default <a> styling */
        .in-stock {
            display: flex;
            flex-grow: 1;
            margin: 0;

            text-decoration: none;
            color:inherit;

            flex: 1 1 30%; /* Maximum 3 items per row */
        }
        
        .product {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%; /* Stretch */
            
            /* Align image to top when small */
            align-self: flex-start;
            min-width: 15rem;

            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 0.3rem;
            margin: 1rem;

            box-shadow: 0 rgba(0, 0, 0, 0.00);
            &:hover {
                transition: box-shadow 0.1s ease-in-out;
                box-shadow: 0 0.3rem 2rem -0.3rem rgba(0, 0, 0, 0.3);

                /* Hover animation */
                .item {
                    .media {
                        filter: contrast(90%);
                        transition: filter 0.1s cubic-bezier(0.42, 0.40, 0.21, 0.90);
                    }
                }
            }

            .product-title {
                flex-basis: 3rem; /* Account for longer titles spanning multiple lines */
                padding: 1rem;
                margin: 0;
                order: 2;
            }
            
            .item {
                margin: 0; /* Full-width media */
                order: 1;
                
                .media {
                    filter: contrast(70%);

                    display: block;
                    object-fit: cover;
                    object-position: center top; 
                    height: 12rem;
                    width: 100%;
                    border-top-left-radius: 0.3rem;
                    border-top-right-radius: 0.3rem;
                }

                .price {
                    padding: 1rem;
                    margin: 0;

                    color: #4caf50;
                    font-weight: bold;

                    .original-price {
                        color: #333;
                        font-size: 0.7rem;
                    }

                    .discount {
                        font-style: normal;
                        background-color: red;
                        padding: 0.25rem;
                        color: #fff;
                    }
                }
            }

            .add-to-cart {
                order: 3;
                align-self: center;
                flex-basis: 1rem;

                color: #333;
                border-radius: 0.3rem;
                padding: 1rem;
                margin: 1rem;
                border: 1px solid #333;
                background-color: transparent;
                text-decoration: none;

                &:hover {
                    color: #333;
                    background-color: rgb(242, 225, 35);
                    border: 1px solid #333;
                    cursor: pointer;
                }
            }
        }
    }
     /* Featured product */
    .category.featured {
        .product {
            text-align: center;

            .product-title {
                font-size: 1.75rem;
            }

            .item {
                .media {
                    height: 20rem;
                }
                .price {
                    font-size: 1.5rem;
                }
            }

            .add-to-cart {
                flex-basis: 2rem;
                width: 10rem;
                margin: 2rem;
            }
        }
    }
}

@media (max-width: 38em) {
    .banner {
        padding: 1rem;
        width: 85%;
    }
    html body header nav ul li {
         width: 100%;
         padding: 0 1rem;
    }
    html body main {
        padding: 0.5rem;
    }
}

body {
    margin: 0;
    padding: 0;
    // Change the default font
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;

    header {
        padding: 2rem 0 0 0;
        background-color: transparent;
        color: #fff;
        text-align: center;
        vertical-align: middle;

        h1 {
            display: none;
        }

        .banner {
            max-width: 100%;
            filter: opacity(85%);

            &:hover {
                filter: opacity(100%);
                transition: filter 0.1s cubic-bezier(0.42, 0.40, 0.21, 0.90);
            }
        }

        nav {
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                padding-left: 0;
                list-style-type: none;

                li {
                    margin: 0.25rem;
                    display: block;
                    width: 7rem;

                    a {
                        display: block;
                        color: #333;
                        border: 1px solid #333;
                        background-color: #fff;
                        padding: 0.5rem;
                        border-radius: 0.3rem;
                        text-decoration: none;

                        &:hover {
                            color: #333;
                            background-color: rgb(242, 225, 35);
                            -webkit-transition-duration: 0.2s;
                            transition-duration: 0.2s;
                        }
                    }
                }
                li.active {
                    a {
                        color: #333;
                        background-color: rgb(242, 225, 35);
                        -webkit-transition-duration: 0.2s;
                        transition-duration: 0.2s;  
                    }
                }
            }
        }
    }

    main {
        max-width: 80rem;
        margin: 0 auto;
        padding: 2rem;

        a {
            color: #07C;
            -webkit-transition: 0.2s;
            transition: 0.2s;
        }
        a:hover {
            color: #fff;
            transition: 0.2s;
            text-decoration: underline;
        }
        a:focus {
            color: #fff;
            box-shadow: 0 0 1rem rgb(242, 225, 35);
            border-radius: 0.3rem;
            text-decoration: none;
        }

        @mixin sticky() {
            @media only screen and (min-width: 910px)  {
                position: -webkit-sticky;
                position: sticky;
                top: 5%;
            }
        }
        aside {
            //@include sticky();
            text-align: center;
            margin-bottom: 2rem;

            h2 {
                font-size: 1rem;
                font-weight: 700;
                margin-top: 0;
            }
            ul {
                list-style-type: none;
                padding-left: 0;
                margin-bottom: 1rem;
                li {
                    line-height: 2rem;
                    overflow-wrap: break-word;
                }
            }
        }

        * {
            /*
            border: 1px solid cyan !important;
            */
        }    

        section#style-guide {
            p {
                line-height: 1.5rem;
                // Shorten the default width of the <p> element, but ensure it is still responsive when the viewport shrinks
                max-width: 37rem;
            }
            li {
                line-height: 2rem;
            }

            article {
                padding-bottom: 1rem;
                margin-bottom: 2.5rem;
                border-bottom: 1px solid #eee;
                a:hover {
                    // Add a different hover and focus state styling to the in-text link
                    color: #33AAFF;
                    transition: 0.2s;
                }
                code {
                    background-color: #f7f7f7;
                    padding: 0 0.5rem;
                    border: 1px solid #ddd;
                    font-size: 0.8rem;
                }
                .html code {
                    padding: 0.8rem;
                    display: block;
                    overflow: auto;
                }
                button {
                    width: 5rem;
                }
            }

            section h5 {
                flex: 1 100%;
            }
            section.listing {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            article.product {
                width: 42%;
                min-height: 3rem;
                background: #eee;
                border: 1px solid #ccc;
                text-align: center;
                margin-bottom: 1rem;
                padding: 1rem;
            }

            .persona {
                width: 20rem;
            }

            a {
                display: inline-block;
            }
            a figure {
                margin: 0;
            }
            a img:hover {
                // Add a different hover and focus state styling to the image as a link
                opacity: 0.7;
            }

            form {
                border: 1px solid #c6c7cc;
                border-radius: 5px;
                overflow: hidden;
                width: 240px;
            }
            fieldset {
                border: 0;
                margin: 0;
                padding: 0;
            }
            label {
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
            // The label and text input look visually related
            .text-input-label {
                display: block;
            }
            .radio-input-label {
                display: inline-block;
            }
            input {
                border: 1px solid #c6c7cc;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
                padding: 0.75rem;
            }
            .submit-button {
                background-color: #07C;
                border-radius: 0.3rem;
                border: 1px solid #fff;
                color: #fff;
                cursor: pointer;
                font-weight: bold;
                padding: 8px 16px;
            }
            .submit-button:hover {
                color: #33AAFF;
                background: #fff;
                border: 1px solid #33AAFF;
                transition: 0.2s;
            }
            .reset-button {
                background-color: #af4c4c;
                border-radius: 0.3rem;
                border: 1px solid #fff;
                color: #fff;
                cursor: pointer;
                font-weight: bold;
                padding: 8px 16px;
            }
            .reset-button:hover {
                color: #af4c4c;
                background: #fff;
                border: 1px solid #af4c4c;
                transition: 0.2s;
            }
    
            pre {
                &:before {
                    font-size: 0.8rem;
                    border-radius: 0.3rem 0.3rem 0 0;
                    display: block;
                    color: #fff;
                    text-indent: 0.5rem;
                    padding: 0.25rem 0.25rem;
                }
            }

            // The text input shows us when it has been interacted with, both on hover and focus
            input:hover {
                border: 1px solid rgb(242, 225, 35);
            }
            input:focus {
                box-shadow: 0 0 10px rgb(242, 225, 35);
            }

            pre.html:before {
                background: #333;
            }

            pre.css:before {
                background: #ff9800;
            }

            section {
                // Add space between <section> elements
                margin-top: 3rem;
            }

            h1 {
                font-size: 3rem;
            }
            h2 {
                font-size: 2rem;
            }
            h3 {
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
            h2, h3, h4 {
                margin-top: 0;
            }

            img {
                width: 100px;
            }
        }
    }

    .container {
        color: #59626a;
    }

    div.grid .grid-row {
        margin-bottom: 1rem;
    }

    div.grid .grid-row .col {
        margin-right: 2%;
        margin-bottom: 1rem;
        width: 20%;
        display: inline-block;
    }

    .color-display.primaryColor {
        background: #07C;
        margin-bottom: 1rem;
    }

    .color-display.secondaryColor {
        background: #c6c7cc;
        margin-bottom: 1rem;
    }

    .color-display.accentColor {
        background: #ff9800;
        margin-bottom: 1rem;
    }

    .color-display.dividerColor {
        background: #333;
        margin-bottom: 1rem;
    }
    
    .color-display {
        width: 100%;
        height: 100px;
        display: block;
    }

    .color-title {
        font-size: 1rem;
        text-transform: uppercase;
        color: #CED7DF;
        display: block;
    }

    .color-name {
        font-size: 1rem;
        color: #59626a;
        display: block;
        margin-bottom: 1rem;
    }

    .color-display, .outline-button-bg {
        border-radius: 0.3rem 0.3rem 0 0;
    }

    footer {
        color: #333;
        background: transparent;
        text-align: center;
        vertical-align: middle;
        padding: 2em 0 1em 0;
    }
    #imagery-and-art-direction {
        figure {
            margin: 0 0 2rem 0;
            line-height: 1.5rem;

            figcaption {
                margin-top: 0.5rem;
            }
        }
        img {
            width: 100%;
        }
    }
}