.product-key {
    background-color: #f7f7f7;
	border: 1px solid #ddd;
    font-size: 0.8rem;
    padding: 0.8rem;
	display: block;
	overflow: auto;
}

.product-code {
    margin-top: 4rem;
}

.support {
    margin-top: 4rem;
    border-top: 1px solid #ddd;
}

/* Custom video position */
@media (min-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		top: -140%;
	}
}
@media (max-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		top: -100%;
	}
}

/* Confetti */
.confetti {
    position: relative;
    width: 100%;
    height: 100%;
}

[class|="confetti"] {
    position: absolute;
    z-index: -1;
}

.red {
    background-color: #E94A3F;
}

.yellow {
    background-color: #FAA040;
}

.blue {
    background-color: #5FC9F5;
}